/* General DataTables styles
------------------------------------------------------------------------------------- */
@media all {
    .dataTables_wrapper > .form-inline {
        margin-bottom: 0.625rem;
    }

    .dataTables_wrapper > .form-inline select {
        margin-bottom: 0.625rem;
        margin-right: 0.625rem;
    }

    .dataTables_wrapper > .form-inline select:last-child {
        margin-right: 0;
    }

    .dataTables_length select {
        margin: 0 0.625rem;
    }
}

@media (min-width: 768px) {
    .dataTables_wrapper > .form-inline select:first-child {
        margin-left: 0.625rem;
    }
}

/* App: Fittings
------------------------------------------------------------------------------------- */
@media all {
    .aa-fittings-add-dropdown {
        margin-bottom: 0.5em;
    }
}

@media all and (min-width: 768px) {
    .aa-fittings-add-dropdown {
        margin-bottom: 0;
        margin-top: 0.5em;
    }
}

/* App: AA Blueprints
------------------------------------------------------------------------------------- */
@media all {
    .template-light-mode .aa-blueprints .table-striped > tbody > tr.tr-group,
    .template-light-mode .aa-blueprints .tr-group {
        background-color: rgb(62, 68, 76) !important;
        font-weight: bold;
    }
}

/* App :: AA Memberaudit
------------------------------------------------------------------------------------- */
@media all {
    .template-light-mode .aa-memberaudit .sidebar_character > a,
    .template-dark-mode .aa-memberaudit .sidebar_character > a {
        color: rgb(255, 255, 255);
    }

    .template-light-mode .aa-memberaudit .sidebar_character:hover > a,
    .template-light-mode .aa-memberaudit .sidebar_character.active > a,
    .template-dark-mode .aa-memberaudit .sidebar_character:hover > a,
    .template-dark-mode .aa-memberaudit .sidebar_character.active > a {
        background-color: rgb(62, 68, 76);
    }

    .template-light-mode .aa-memberaudit .cards_container .card,
    .template-dark-mode .aa-memberaudit .cards_container .card {
        background-color: rgba(100, 100, 100, 0.5);
    }

    .aa-memberaudit .cards_container {
        margin: 0 0 2rem 0;
    }
}

/* App: AA Sovtimer
------------------------------------------------------------------------------------- */
@media all {
    .aa-sovtimer .table > tbody > tr > td {
        vertical-align: middle;
    }

    .aa-sovtimer .aa-sovtimer-trend {
        cursor: default;
        display: inline-block;
        left: 0.3125rem;
        margin-right: 0.625rem;
        position: relative;
        top: 0.34375rem;
    }

    .aa-sovtimer .aa-sov-timer-zkb-icon {
        margin-left: 0.5rem;
    }

    .aa-sovtimer .aa-sov-timer-zkb-icon > img {
        position: relative;
        top: -2px;
    }

    .aa-sovtimer .aa-sovtimer-campaigns tr td:last-child {
        padding-top: 0;
        white-space: nowrap;
    }

    .aa-sovtimer .aa-sovtimer-timer-elapsed {
        color: rgb(253, 126, 20);
        text-shadow: 1px 1px 1px rgba(255, 0, 0, 0.3);
    }
}

/* App: Corpstat
------------------------------------------------------------------------------------- */
@media all {
    .corpstat-corp-dropdown.dropdown-menu > li > a {
        padding: 3px 36px 3px 20px;
    }
}

/* App: AA Timezones
------------------------------------------------------------------------------------- */
@media all {
    .aa-fleetpings-pingtext {
        top: 3.6875rem;
    }
}
